<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>LeagueSite2.0</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Signup-page-with-overlay.css">

</head>

<body style="background: var(--bs-gray-300);height: 100%;width: 100%;">





    <div class="row justify-content-center" style="margin-top: 6.7%; margin-bottom: 6.7%; margin-right: 20%; margin-left: 20%">
        <div class="col-xl-10">
            <div class="card border-0">
                <div class="card-body p-0">
                    <div class="row no-gutters">
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="mb-5">
                                    <h3 class="h4 font-weight-bold text-theme">Password recovery</h3>
                                </div>

                                <h6 class="h5 mb-0">Welcome back!</h6>
                                <p class="text-muted mt-2 mb-5"></p>

                                <form method="POST">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">New password</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1" name="newPass1">
                                    </div>
                                    <div class="form-group mb-5">
                                        <label for="exampleInputPassword2">Re-enter new password</label>
                                        <input type="password" class="form-control" id="exampleInputPassword2" name="newPass2">
                                    </div>
                                    <button type="submit" class="btn btn-theme">Confirm</button>
                                    
                                </form>
                                
                            </div>
                        </div>

                        <div class="col-lg-6 d-none d-lg-inline-block">
                            <div class="account-block rounded-right">
                                <div class="overlay rounded-right"></div>
                                <div class="account-testimonial mb-3">
                                    <h4 class="text-white mb-4">An interesting fact
                                    </h4>
                                    <p class="lead text-white">The length of the password is of great importance for its security. The longer the password, the more difficult it is to crack it by brute force or brute force attack. It is recommended that passwords be at least 12 characters long.</p>
                                    <p>---</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- end card-body -->
            </div>
            <!-- end card -->

            <p class="text-muted text-center mt-3 mb-0">Don't forget your password again</p>

            <!-- end row -->

        </div>
        <!-- end col -->
    </div>
    <!-- Row -->
</div>





</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>


</html>